body {
    font-family: sans-serif;
    background: #08000a;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: rgba(255,255,255,0.2) solid 1px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    filter: brightness(0) invert(1);
}

.icon:hover {
    transform:scale(1.05);
    transition: transform .2s;
}

.pnlBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.portfolioId {
    color: white;
}


.portfolioDetails {
    display: flex;
    color: white;
    flex-direction: column;
    list-style: none;

}

.p_n_l_graph {
    color: white;
}

.p_n_l_graph img {
    max-width: 680px;
    width: 100%;
    margin-top: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    display: none;
}

.tradeCenter {
    color: white;
    display: flex;
    position: fixed;
    top: 100px;
    left: 100px;
    flex-direction: column;
}

.tradeCenter div {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.55);
    margin: 16px 0 16px 0;
    padding: 16px;
}



.tradeItem {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding: 39px 28px 0 20px;
    list-style: none;
}

.tradeListUl {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.tradeList {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.tether {
    display: flex;
    position: absolute;
    top: 100px;
    right: 100px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: white;
    padding: 10px;
    flex-direction: column;

}

.tetherTrans {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.cryptoTrans {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}


.transferCoin {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}


